{% extends 'base.html' %} 
{% load static %}
 


{% block content %}

<h1 style="color:teal">U.S. Treasury Rates</h1>

<!-- pass pd.DataFrame variable from view and populate highcharts table -->
<table id="example" class="display" style="width:100%"> 
    <thead>
        <tr>
            {% for key, v in df.items %}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in values %}
        <tr>
            {% for value in item %}
            <td>{{value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <!-- table footers are optional -->
    <!-- <tfoot>
        <tr>
            {% for key, v in df.items %}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
    </tfoot> -->
</table>

{% endblock content %}





{% block js %}


<script>


    $(document).ready(function () {

        var table = $('#example').DataTable({
            "ordering": true,
            "info":     true,
            "order": [[ 0, "asc" ]],
            // "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
            "scrollY": "750px",
            "scrollCollapse": true,
            "paging": false,
            "stateSave": true,    
            
            // rowCallback only has the current row data with in context. custom function to save each row's data on callback iteration and reference it for comparison in the next row
            'rowCallback': function(row, data, index){
                if (typeof previousRowData === 'undefined'){    
                    previousRowData = data                                    // the previousRowData variable will not exist until the end of the first iteration of the rowCallback function
                }
                else{
                    for (let i=1; i<data.length+1; i++){                      // iterate through each column in the row (data) array excluding the date index
                        if(data[i] > previousRowData[i]){
                            $(row).find(`td:eq(${i})`).css('color', 'green'); // string literal uses backtick key
                        }
                        else if (data[i] < previousRowData[i]){
                            $(row).find(`td:eq(${i})`).css('color', 'red');
                        }
                    }
                    previousRowData = data  // set previous rows data eq to the row that was just iterated through
                }
            }
        });

    });
    </script>

{% endblock js %}