{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Sector Performance</h1>

<div style="clear:both;"></div>

<br>

<div id="body-content" style="padding-top:1%;">


    <figure class="highcharts-figure">
        <div id="chart1d"></div>
    </figure>


    <figure class="highcharts-figure">
        <div id="chart1w"></div>
    </figure>

    <figure class="highcharts-figure">
        <div id="chart1m"></div>
    </figure>


    <figure class="highcharts-figure">
        <div id="chart3m"></div>
    </figure>

    <figure class="highcharts-figure">
        <div id="chart6m"></div>
    </figure>


    <figure class="highcharts-figure">
        <div id="chartYtd"></div>
    </figure>

</div>
{% endblock %}


{% block js %}

<script>

    $(document).ready(function () {

        // document.body.style.zoom = "80%";


    });


    function getMinimumValue(array_or_arrays) {
        var min = array_or_arrays[0][2]
        for (var i = 0; i < array_or_arrays.length; i++) {
            if (array_or_arrays[i][2] < min)
                min = array_or_arrays[i][2]
        }
        return min
    }

    function getMaximumValue(array_or_arrays) {
        var max = array_or_arrays[0][2]
        for (var i = 0; i < array_or_arrays.length; i++) {
            if (array_or_arrays[i][2] > max)
                max = array_or_arrays[i][2]
        }
        return max
    }


    let sector_performance_response = JSON.parse("{{sector_performance1d|escapejs}}")

    let min_sector_performance_value = getMinimumValue(sector_performance_response.data)
    let max_sector_performance_value = getMaximumValue(sector_performance_response.data)

    const changeSinceChart = Highcharts.chart('chart1d', {

        chart: {
            type: 'column'
        },

        title: {
            text: '1 Day'
        },

        xAxis: {
            categories: sector_performance_response.rows
        },
        legend:{ enabled:false },

        yAxis: {
            allowDecimals: false,
            min: min_sector_performance_value,
            max: max_sector_performance_value,
            title: {
                text: 'Change'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '%' + '<br/>'
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            },
            
        },

        series: sector_performance_response.data
    });



    let sector_performance_response1w = JSON.parse("{{sector_performance1w|escapejs}}")

    let min_sector_performance1w_value = getMinimumValue(sector_performance_response1w.data)
    let max_sector_performance1w_value = getMaximumValue(sector_performance_response1w.data)

    const changeSinceChart1w = Highcharts.chart('chart1w', {

        chart: {
            type: 'column'
        },

        title: {
            text: '1 Week'
        },

        xAxis: {
            categories: sector_performance_response1w.rows
        },
        legend:{ enabled:false },

        yAxis: {
            allowDecimals: false,
            min: min_sector_performance1w_value,
            max: max_sector_performance1w_value,
            title: {
                text: 'Change'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '%' + '<br/>'
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series: sector_performance_response1w.data
    });



    let sector_performance_response1m = JSON.parse("{{sector_performance1m|escapejs}}")

    let min_sector_performance1m_value = getMinimumValue(sector_performance_response1m.data)
    let max_sector_performance1m_value = getMaximumValue(sector_performance_response1m.data)

    const changeSinceChart1m = Highcharts.chart('chart1m', {

        chart: {
            type: 'column'
        },

        title: {
            text: '1 Month'
        },

        xAxis: {
            categories: sector_performance_response1m.rows
        },
        legend:{ enabled:false },

        yAxis: {
            allowDecimals: false,
            min: min_sector_performance1m_value,
            max: max_sector_performance1m_value,
            title: {
                text: 'Change'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '%' + '<br/>'
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series: sector_performance_response1m.data
    });




    let sector_performance_response3m = JSON.parse("{{sector_performance3m|escapejs}}")

    let min_sector_performance3m_value = getMinimumValue(sector_performance_response3m.data)
    let max_sector_performance3m_value = getMaximumValue(sector_performance_response3m.data)

    const changeSinceChart3m = Highcharts.chart('chart3m', {

        chart: {
            type: 'column'
        },

        title: {
            text: '3 Months'
        },

        xAxis: {
            categories: sector_performance_response3m.rows
        },
        legend:{ enabled:false },

        yAxis: {
            allowDecimals: false,
            min: min_sector_performance3m_value,
            max: max_sector_performance3m_value,
            title: {
                text: 'Change'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '%' + '<br/>'
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series: sector_performance_response3m.data
    });



    
    let sector_performance_response6m = JSON.parse("{{sector_performance3m|escapejs}}")

    let min_sector_performance6m_value = getMinimumValue(sector_performance_response6m.data)
    let max_sector_performance6m_value = getMaximumValue(sector_performance_response6m.data)

    const changeSinceChart6m = Highcharts.chart('chart6m', {

        chart: {
            type: 'column'
        },

        title: {
            text: '6 Months'
        },

        xAxis: {
            categories: sector_performance_response6m.rows
        },
        legend:{ enabled:false },

        yAxis: {
            allowDecimals: false,
            min: min_sector_performance6m_value,
            max: max_sector_performance6m_value,
            title: {
                text: 'Change'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '%' + '<br/>'
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series: sector_performance_response6m.data
    });




    let sector_performance_responseYtd = JSON.parse("{{sector_performanceYtd|escapejs}}")

    let min_sector_performanceYtd_value = getMinimumValue(sector_performance_responseYtd.data)
    let max_sector_performanceYtd_value = getMaximumValue(sector_performance_responseYtd.data)

    const changeSinceChartYtd = Highcharts.chart('chartYtd', {

        chart: {
            type: 'column'
        },

        title: {
            text: 'Year to Date'
        },

        xAxis: {
            categories: sector_performance_responseYtd.rows
        },
        legend:{ enabled:false },

        yAxis: {
            allowDecimals: false,
            min: min_sector_performanceYtd_value,
            max: max_sector_performanceYtd_value,
            title: {
                text: 'Change'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '%' + '<br/>'
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series: sector_performance_responseYtd.data
    });


    $(function () {
        // Sidebar toggle behavior
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('#body-content').toggleClass('active');

        });
    });


</script>


{% endblock %}