{% extends 'base.html' %}

{% load static %}


{% block content %}

<h1>Fundamentals</h1>

<p>blah</p>


<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Office</th>
      <th>Extn.</th>
      <th>Start date</th>
      <th>Start date</th>

    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Office</th>
      <th>Extn.</th>
      <th>Start date</th>
      <th>Start date</th>

    </tr>
    
  </tfoot>
</table>
{% endblock content %}



{% block js %}
<script>


  let table_data = "{{ table_data|safe }}";
  console.log(table_data);
  // console.log('hello')
  $(document).ready(function () {
    $('#example').DataTable({
      data: table_data,
    });
  });



  $(function () {
    // Sidebar toggle behavior
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar, #content').toggleClass('active');
    });
  });


</script>

{% endblock js %}