{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Fundamentals</h1>

<div style="clear:both;"></div>




<div id="body-content" style="padding-top:1%;">


  <div class='float-left' style="display:inline">

    <div class="container ">
      <div class="row">
        <form class="form-inline" action="" method="POST">
          {% csrf_token %}

          <div class="form-group mx-sm-3 mb-2" style = "margin-left: 0px;">
            <label for="inputTicker" class="sr-only">Ticker</label>
            <input type="text" class="form-control" name = "inputTicker" id = "inputTicker" placeholder="Ticker" >
          </div>
          <button type="submit" class="btn mb-2" style = 'background-color: #3C4754;color:white;'>Submit</button>
        </form>

        <div class="card ml-auto card w-200" style='border-radius: 20px;'>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>{{ticker}}</strong></li>
            <li class="list-group-item">{{industry}}</li>
            <li class="list-group-item">Last Price | 1 day Change</li>
          </ul>
        </div>
      </div>
      <br><br>

    </div>




  </div>

  <div style="clear:both;"></div>

  <ul class="nav nav-tabs" id="FinancialsTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="bs-tab" data-bs-toggle="tab" data-bs-target="#bs" type="button" role="tab"
        aria-controls="bs" aria-selected="true" style='color:black;'>Balance Sheet</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="incs-tab" data-bs-toggle="tab" data-bs-target="#incs" type="button" role="tab"
        aria-controls="incs" aria-selected="false" style='color:black;'>Income Statement</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="cf-tab" data-bs-toggle="tab" data-bs-target="#cf" type="button" role="tab"
        aria-controls="cf" aria-selected="false" style='color:black;'>Cash Flow Statement</button>
    </li>
  </ul>

  <div class="tab-content" id="TabContent">

    <!-- Balance Sheet -->
    <div class="tab-pane fade show active" id="bs" role="tabpanel" aria-labelledby="bs-tab">

      <div id="balance-body-content" style='padding-top:10px;'>
        <ul class="nav nav-tabs" id="BalanceTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="reported-bs-tab" data-bs-toggle="tab" data-bs-target="#reported-bs"
              type="button" role="tab" aria-controls="reported-bs" aria-selected="true"
              style='color:black;'>Reported</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="peers-bs-tab" data-bs-toggle="tab" data-bs-target="#peers-bs" type="button"
              role="tab" aria-controls="peers-bs" aria-selected="false" style='color:black;'>Peers</button>
          </li>

        </ul>
      </div>

      <div class="tab-content" id="BalanceTabContent">

        <div class="tab-pane fade " id="reported-bs" role="tabpanel" aria-labelledby="reported-bs-tab">
          <div class='table-div'>
            <h2>Balance Sheet</h2>
            <table id="balance_sheet" class="display" width="100%"></table>
          </div>
          <div class='table-div'>
            <h2>Percent Change</h2>
            <table id="balance_sheet_percent_change" class="display" width="100%"></table>
          </div>
        </div>
        <div class="tab-pane fade" id="peers-bs" role="tabpanel" aria-labelledby="peers-bs-tab">
          <div class='table-div'>
            <h2>Balance Sheet</h2>
            <table id="balance_sheet_peer_compare" class="display" width="100%"></table>
          </div>
          <div class='table-div'>
            <h2>Peer Values</h2>
            <table id="balance_sheet_peer_values" class="display" width="100%"></table>
          </div>
          <div class='table-div'>
            <h2>Ranks</h2>
            <table id="balance_sheet_ranks" class="display" width="100%"></table>
          </div>
        </div>


      </div>

    </div>



    <!-- Income Statement -->
    <div class="tab-pane fade" id="incs" role="tabpanel" aria-labelledby="incs-tab">

      <div id="income-body-content" style='padding-top:10px;'>
        <ul class="nav nav-tabs" id="IncomeTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="reported-tab" data-bs-toggle="tab" data-bs-target="#reported" type="button"
              role="tab" aria-controls="reported" aria-selected="true" style='color:black;'>Reported</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="peers-tab" data-bs-toggle="tab" data-bs-target="#peers" type="button"
              role="tab" aria-controls="peers" aria-selected="false" style='color:black;'>Peers</button>
          </li>

        </ul>
      </div>

      <div class="tab-content" id="IncomeTabContent">

        <div class="tab-pane fade " id="reported" role="tabpanel" aria-labelledby="reported-tab">
          <div class='table-div'>
            <h2>Income Statement</h2>
            <table id="income_statement" class="display" width="100%"></table>
          </div>

          <div class='table-div'>
            <h2>Percent Change</h2>
            <table id="income_statement_percent_change" class="display" width="100%"></table>
          </div>

          <div class='table-div'>
            <h2>Q/Q Percent Change</h2>
            <table id="income_statement_qq_percent_change" class="display" width="100%"></table>
          </div>

        </div>
        <div class="tab-pane fade" id="peers" role="tabpanel" aria-labelledby="peers-tab">
          <div class='table-div'>
            <h2>Income Statement</h2>
            <table id="income_statement_peer_compare" class="display" width="100%"></table>
          </div>
          <div class='table-div'>
            <h2>Peer Values</h2>
            <table id="income_statement_peer_values" class="display" width="100%"></table>
          </div>
          <div class='table-div'>
            <h2>Ranks</h2>
            <table id="income_statement_ranks" class="display" width="100%"></table>
          </div>
        </div>



      </div>

    </div>

    <!-- Cash Flow -->
    <div class="tab-pane fade" id="cf" role="tabpanel" aria-labelledby="cf-tab">

      <div id="cf-body-content" style='padding-top:10px;'>
        <ul class="nav nav-tabs" id="CashFlowTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="reported-cf-tab" data-bs-toggle="tab" data-bs-target="#reported-cf"
              type="button" role="tab" aria-controls="reported-cf" aria-selected="true"
              style='color:black;'>Reported</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="peers-cf-tab" data-bs-toggle="tab" data-bs-target="#peers-cf" type="button"
              role="tab" aria-controls="peers-cf" aria-selected="false" style='color:black;'>Peers</button>
          </li>

        </ul>
      </div>



      <div class="tab-content" id="IncomeTabContent">

        <div class="tab-pane fade " id="reported-cf" role="tabpanel" aria-labelledby="reported-cf-tab">
          <div class='table-div'>
            <h2>Cash Flow</h2>
            <table id="cash_flow_statement" class="display" width="100%"></table>
          </div>
          <div class='table-div'>
            <h2>Percent Change</h2>
            <table id="cash_flow_statement_percent_change" class="display" width="100%"></table>
          </div>
        </div>
        <div class="tab-pane fade" id="peers-cf" role="tabpanel" aria-labelledby="peers-cf-tab">
          <div class='table-div'>
            <h2>Ranks</h2>
            <table id="cash_flow_statement_ranks" class="display" width="100%"></table>
          </div>
          <div class='table-div'>
            <h2>Peer Values</h2>
            <table id="cash_flow_statement_peer_values" class="display" width="100%"></table>
          </div>
        </div>




      </div>

    </div>

  </div>




  <style type="text/css">
    td.major {
      background-color: #D0D5D9 !important;
      /* color: white; */
      /* opacity: 0.9; */
      /* font-weight: bold; */
    }

    td.mid {
      text-align: center;
    }

    td.minor {
      text-align: right;
    }

    /* bootstrap hack: fix content width inside hidden tabs */
    .tab-content>.active,
    .pill-content>.active {
      display: block;
      visibility: visible;
      position: absolute;
      width: 100%;
    }
  </style>

  {% endblock content %}



  {% block js %}

  <script>



    $(document).ready(function () {

      document.body.style.zoom = "80%";

      let income_statement = JSON.parse("{{inc_json|escapejs}}");
      $('#income_statement').DataTable({
        data: income_statement.data,
        columns: income_statement.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '$', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
        createdRow: function (row, data, index) {
          if (['revenue', 'gp', 'opinc', 'netinc', 'ebitda'].includes(data[0])) {
            $('td', row).addClass('major');
            //   } else if (['cogs', 'opex', 'intexp', 'taxexp'].includes(data[0])) {
            //     $('td', row).eq(0).addClass('mid');
            //   } else if (['depamor', 'sgna', 'rnd'].includes(data[0])) {
            //     $('td', row).eq(0).addClass('minor');
          }
        },

      });


      let income_statement_percent_change = JSON.parse("{{inc_pct_json|escapejs}}");
      $('#income_statement_percent_change').DataTable({
        data: income_statement_percent_change.data,
        columns: income_statement_percent_change.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 2, '', '%'),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
        rowCallback: function (row, data, index) {
          for (let i = 0; i < data.length; i++) {
            if (data[i] < 0) {
              $(row).find(`td:eq(${i})`).css('color', 'red');
            }
          }
        }
      });


      let income_statement_qq_percent_change = JSON.parse("{{inc_qq_json|escapejs}}");
      $('#income_statement_qq_percent_change').DataTable({
        data: income_statement_qq_percent_change.data,
        columns: income_statement_qq_percent_change.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 2, '', '%'),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
        rowCallback: function (row, data, index) {
          for (let i = 0; i < data.length; i++) {
            if (data[i] < 0) {
              $(row).find(`td:eq(${i})`).css('color', 'red');
            }
          }
        }
      });


      let income_statement_ranks = JSON.parse("{{inc_ranks_json|escapejs}}");
      $('#income_statement_ranks').DataTable({
        data: income_statement_ranks.data,
        columns: income_statement_ranks.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
      });


      let income_statement_peer_compare = JSON.parse("{{inc_json|escapejs}}");
      $('#income_statement_peer_compare').DataTable({
        data: income_statement_peer_compare.data,
        columns: income_statement_peer_compare.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '$', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
        createdRow: function (row, data, index) {
          if (['revenue', 'gp', 'opinc', 'netinc', 'ebitda'].includes(data[0])) {
            $('td', row).addClass('major');
            //   } else if (['cogs', 'opex', 'intexp', 'taxexp'].includes(data[0])) {
            //     $('td', row).eq(0).addClass('mid');
            //   } else if (['depamor', 'sgna', 'rnd'].includes(data[0])) {
            //     $('td', row).eq(0).addClass('minor');
          }
        },

      });


      let income_statement_peer_values = JSON.parse("{{inc_peer_json|escapejs}}");
      $('#income_statement_peer_values').DataTable({
        data: income_statement_peer_values.data,
        columns: income_statement_peer_values.columns,
        order: [],
        pageLength: 14,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '$', ''),
            "targets": [1, 2, 3, 4, 5, 6],
          }
        ],
      });





      let balance_sheet = JSON.parse("{{bs_json|escapejs}}");
      $('#balance_sheet').DataTable({
        data: balance_sheet.data,
        columns: balance_sheet.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '$', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
        createdRow: function (row, data, index) {
          if (['assets', 'liabilities', 'equity'].includes(data[0])) {
            $('td', row).addClass('major');
          }
        }

      });


      let balance_sheet_percent_change = JSON.parse("{{bs_pct_json|escapejs}}");
      $('#balance_sheet_percent_change').DataTable({
        data: balance_sheet_percent_change.data,
        columns: balance_sheet_percent_change.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 2, '', '%'),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
        rowCallback: function (row, data, index) {
          for (let i = 0; i < data.length; i++) {
            if (data[i] < 0) {
              $(row).find(`td:eq(${i})`).css('color', 'red');
            }
          }
        }
      });


      let balance_sheet_ranks = JSON.parse("{{bs_ranks_json|escapejs}}");
      $('#balance_sheet_ranks').DataTable({
        data: balance_sheet_ranks.data,
        columns: balance_sheet_ranks.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
      });


      let balance_sheet_peer_compare = JSON.parse("{{bs_json|escapejs}}");
      $('#balance_sheet_peer_compare').DataTable({
        data: balance_sheet_peer_compare.data,
        columns: balance_sheet_peer_compare.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '$', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
        createdRow: function (row, data, index) {
          if (['assets', 'liabilities', 'equity'].includes(data[0])) {
            $('td', row).addClass('major');
          }
        }

      });
      let balance_sheet_peer_values = JSON.parse("{{bs_peer_json|escapejs}}");
      $('#balance_sheet_peer_values').DataTable({
        data: balance_sheet_peer_values.data,
        columns: balance_sheet_peer_values.columns,
        order: [],
        pageLength: 12,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '$', ''),
            "targets": [1, 2, 3, 4, 5, 6],
          }
        ],
      });




      let cash_flow = JSON.parse("{{cf_json|escapejs}}");
      $('#cash_flow_statement').DataTable({
        data: cash_flow.data,
        columns: cash_flow.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '$', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
      });


      let cash_flow_percent_change = JSON.parse("{{cf_pct_json|escapejs}}");
      $('#cash_flow_statement_percent_change').DataTable({
        data: cash_flow_percent_change.data,
        columns: cash_flow_percent_change.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 2, '', '%'),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
        rowCallback: function (row, data, index) {
          for (let i = 0; i < data.length; i++) {
            if (data[i] < 0) {
              $(row).find(`td:eq(${i})`).css('color', 'red');
            }
          }
        }
      });


      let cash_flow_ranks = JSON.parse("{{cf_ranks_json|escapejs}}");
      $('#cash_flow_statement_ranks').DataTable({
        data: cash_flow_ranks.data,
        columns: cash_flow_ranks.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 0, '', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
      });

      let cash_flow_peer_values = JSON.parse("{{cf_peer_json|escapejs}}");
      $('#cash_flow_statement_peer_values').DataTable({
        data: cash_flow_peer_values.data,
        columns: cash_flow_peer_values.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 2, '$', ''),
            "targets": [1, 2, 3, 4, 5, 6],
          }
        ],
      });




      let cash_flow_statement = JSON.parse("{{cf_json|escapejs}}");
      $('#cash_flow').DataTable({
        data: cash_flow_statement.data,
        columns: cash_flow_statement.columns,
        order: [],
        pageLength: 20,
        columnDefs: [
          {
            "orderable": false,
            "render": $.fn.dataTable.render.number(',', '.', 2, '$', ''),
            "targets": [1, 2, 3, 4, 5],
          }
        ],
      });


    });

    $(function () {
      // Sidebar toggle behavior
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('#body-content').toggleClass('active');

      });
    });


    // Get 'active' tab selection ID
    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
      var currId = $(e.target).attr("id");
      console.log(currId)
    })


    $(document).ready(function () {
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // var target = $(e.target).attr("href"); // activated tab
        // alert (target);
        $($.fn.dataTable.tables(true)).css('width', '100%');
        $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
      });
    });



  </script>

  {% endblock js %}