{% extends 'base.html' %}

{% load static %}


{% block content %}
<h1 style="color:teal">Time Series Analysis</h1>


<form action="" method="POST">
    {% csrf_token %}

    <div style="width:25%;float:left;">

        <div class="form-group">
            <label for="exampleFormControlSelect1">Models</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Linear Regression</option>
                <option>Arima</option>
                <option>Sarimax</option>
                <option>LSTM</option>
                <option>RNN</option>
            </select>
    

        </div>

    </div>

    <div class="form-check form-check-inline" style="width:25%;float:left;padding-top:1.5%;">

        <div class="form-check form-check-inline" style="float:left;">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Include Pre-Processing Analysis</label>
        </div>

    </div>

    <div class="form-group" style="display:block;width:15%;">
        <input type="" class="form-control" id="" aria-describedby="" placeholder="X column name(s)">
        <input type="" class="form-control" id="" aria-describedby="" placeholder="Y column name">
    </div>


    <div class="mb-3" style="display:block;width:15%;">
        <label for="formFile" class="form-label">Select a File</label>
        <input class="form-control" type="file" id="formFile">
      </div>

      
    <div style="clear:both;"></div>

    <div style="float:left;width:20%;padding-top:1%;">
        <button type="submit" name="submit" class="btn btn-outline-success btn-lg btn-block">Run</button>
    </div>

</form>

<div style="clear:both;"></div>

<!-- <div class="card" style="width: 18rem; float:left">
    <div class="card-header">
        Parameters
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{model_name}}</li>
        <li class="list-group-item">{{tickers}}</li>
        <li class="list-group-item">{{weights}}</li>
        <li class="list-group-item">{{date_start}}</li>

    </ul>
</div> -->

{% endblock content %}





{% block js %}

<script>


</script>
{% endblock js %}