{% extends 'base.html' %}

{% load static %}



{% block content %}
<h1 style="color:teal">Famma French</h1>

<h3 style="color:teal">Portfolio</h3>
<p>Enter tickers and weights into the respective fields as comma separated values</p>

<form>

    <div style="display:block">

        <div class="form-group" style="width:50%; float:left">
            <label for="exampleFormControlInput1">Portfolio Tickers</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="IVE, VWO">
        </div>
        <div class="form-group" style="width:50%;float:left">
            <label for="exampleFormControlInput1">Portfolio Weights</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="0.5, 0.5">
        </div>

    </div>


    <div style="clear:both;"></div>

    <div style="display:block">

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Three Factor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Four Factor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Five Factor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
            <label class="form-check-label" for="inlineCheckbox3">Disabled</label>
        </div>
    </div>

    <div style="float:left;width:20%;padding-top:1%;">
        <button type="button" class="btn btn-outline-success btn-lg btn-block">Run</button>
    </div>

    <div style="clear:both;"></div>


</form>


    <div style="text-align: center; ">
        <h3 style="color:teal">OLS Regression Results</h3>
        <table style='font-family:monospace;width:50%; font-size:100%;   margin-left: auto;
        margin-right: auto;'>
            {{model_summary|safe }}
        </table>
    </div>






{% endblock content %}





{% block js %}


{% endblock js %}