{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1 style="color:teal">Famma French</h1>

<h3 style="color:teal">Portfolio</h3>

<form action="" method="POST">
    {% csrf_token %}

    <div style="display:block">

        <div class="form-group" style="width:50%; float:left">
            <label for="tickers">Portfolio Tickers</label>
            <input class="form-control" name='tickers' id="tickers" placeholder="IVE, VWO">
        </div>

        <div class="form-group" style="width:50%;float:left">
            <label for="weights">Portfolio Weights</label>
            <input class="form-control" name='weights' id="weights" placeholder="0.5, 0.5">
        </div>

        <div style="clear:both;"></div>


        <!-- datepicker -->
        <!-- <div class="form-group" style="width:50%;float:left;display:flex">

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
            <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
            <input id="datepicker_start" width="276" placeholder="Start Date" name='datepicker_start' />
            <script>
                $('#datepicker_start').datepicker({
                    uiLibrary: 'bootstrap4'
                });
            </script>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
            <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
            <input id="datepicker_end" width="276" placeholder="End Date" name='datepicker_end' />
            <script>
                $('#datepicker_end').datepicker({
                    uiLibrary: 'bootstrap4'
                });
            </script>
        </div> -->

    </div>


    <div style="clear:both;"></div>

    <!-- <div style="display:block">

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="model_name" value="three_factor">
            <label class="form-check-label" for="inlineCheckbox1">Three Factor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="model_name" value="four_factor">
            <label class="form-check-label" for="inlineCheckbox2">Four Factor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="model_name" value="five_factor">
            <label class="form-check-label" for="inlineCheckbox3">Five Factor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
            <label class="form-check-label" for="inlineCheckbox3">Disabled</label>
        </div>
    </div> -->

    <div style="float:left;width:20%;padding-top:1%;">
        <button type="submit" name="submit" class="btn btn-outline-success btn-lg btn-block">Run</button>
    </div>
</form>

<div style="clear:both;"></div>


<div style="padding-top:2%;">

    <div class="card" style="width: 18rem; float:left">
        <div class="card-header">
            Parameters
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{model_name}}</li>
            <li class="list-group-item">Portfolio Assets: {{tickers}}</li>
            <li class="list-group-item">Portfolio Weights: {{weights}}</li>
            <li class="list-group-item">Returns Start Date: {{date_start}}</li>

        </ul>
    </div>

</div>

<div style="clear:both;"></div>


<section class="container-large py-4">
    <div class="row">
        <div class="col-md-12">
            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item"><a href="" data-target="#ff" data-toggle="tab"
                        class="nav-link small text-uppercase active">Famma French</a></li>
                <li class="nav-item"><a href="" data-target="#var" data-toggle="tab"
                        class="nav-link small text-uppercase">VaR</a></li>
                <li class="nav-item"><a href="" data-target="#pca" data-toggle="tab"
                        class="nav-link small text-uppercase">PCA</a></li>
            </ul>
            <br>
            <div id="tabsContent" class="tab-content">

                <!-- // Div Tab 1 ******************************************************************************************************************** -->
                <div id="ff" class="tab-pane fade active show">

                    <div style="text-align: center; ">
                        <h3 style="color:teal">OLS Regression Results</h3>
                        <table
                            style='font-family:monospace;width:50%; font-size:100%;margin-left: auto; margin-right: auto;'>
                            {{model_summary|safe }}
                        </table>
                    </div>

                    <div>
                        <img src='{% static "img/ff_performance_attribution.png" %}' alt="My image" width=100%
                            height=50% />
                    </div>


                </div>
                <div id="var" class="tab-pane fade">
                    <h3 style="color:teal">var</h3>

                </div>
                <div id="pca" class="tab-pane fade">
                    <h3 style="color:teal">pca</h3>

                </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}





{% block js %}

<script>

    // Data Picker Initialization
    $('.datepicker_strt').datepicker({
        // inline: true
    });

    $('.datepicker_end').datepicker({
        // inline: true
    });


</script>
{% endblock js %}