{% extends 'base.html' %}

{% load static %}



{% block content %}
<h1 style="color:teal">Dcf</h1>




<section class="container-large py-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Tabs</h2>
            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item"><a href="" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase">Home</a></li>
                <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase active">Profile</a></li>
                <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase">Messages</a></li>
            </ul>
            <br>
            <div id="tabsContent" class="tab-content">
                <div id="home1" class="tab-pane fade">
                    <div class="list-group"><a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">51</span> Home Link</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">8</span> Link 2</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">23</span> Link 3</a> <a href="" class="list-group-item d-inline-block text-muted">Link n..</a></div>
                </div>
                <div id="profile1" class="tab-pane fade active show">
                    <div class="row pb-2">
                        <div class="col-md-7">
                            <p>Tabs can be used to contain a variety of content &amp; elements. They are a good way to group <a href="" class="link">relevant content</a>. Display initial content in context to the user. Enable the user to flow through <a href="" class="link">more</a> information as needed. </p>
                        </div>
                        <div class="col-md-5"><img src="//dummyimage.com/1005x559.png/5fa2dd/ffffff" class="float-right img-fluid img-rounded"></div>
                    </div>
                </div>
                <div id="messages1" class="tab-pane fade">
                    <div class="list-group"><a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">44</span> Message 1</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">8</span> Message 2</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">23</span> Message 3</a> <a href="" class="list-group-item d-inline-block text-muted">Message n..</a></div>
                </div>
            </div>
        </div>
    </div>
</section>




<div style="width:33%;float:left;">

    <table class="table table-striped">

        <tr>
            <th class= "table-primary">metric</th>
            <th class= "table-primary">2015</th>
            <th class= "table-primary">2015</th>
            <th class= "table-primary">2015</th>
            <th class= "table-primary">2015</th>
            <th class= "table-primary">2015</th>



        </tr>
        <tr>
            <td>Revenue</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Revenue</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </table>


</div>


<div style="width:33%;float:left;padding-left: 50px;">

    <table class="table table-striped">

        <tr>
            <th>Geom. Avg.</th>
            <th>CAGR</th>
            <th>Growth Rate</th>
            <th>Rate being Used</th>

        </tr>
        <tr>
            <td class= "table-default">2</td>
            <td class= "table-default">2</td>
            <td class= "table-default">
                <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3"
                    oninput="this.nextElementSibling.value = this.value" style="float:left;width:60%;">
                <output style="float:left;width:10%;padding-left:25px;">24</output>
            </td>
            <td class= "table-default">2</td>

        </tr>


    </table>




</div>


<div style="width:33%;float:left;padding-left: 50px;">

    <table class="table table-striped">

        <tr>
            <th class= "table-primary">2015</th>
            <th class= "table-primary">2015</th>
            <th class= "table-primary">2015</th>
            <th class= "table-primary">2015</th>
            <th class= "table-primary">2015</th>



        </tr>
        <tr>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>

        </tr>


    </table>


</div>

{% endblock content %}




{% block js %}

<script>



</script>
{% endblock js %}