{% extends 'base.html' %}

{% load static %}


{% block content %}
<h1 style="color:teal">Equity Fundamentals</h1>

<h3 style="color:teal">Sector View</h3>


<form action="" method="POST">
    {% csrf_token %}

    <div style="display:block">

        <div class="form-group" style="width:20%; float:left">
            <input class="form-control" name='ticker' id="ticker" placeholder="Enter a Ticker...">
        </div>

    </div>

    <div style="clear:both;"></div>

    <div class="card" style="display:inline-block;width: 30rem;">
        <div class="card-header">
            Parameters
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ticker: {{selected_ticker}}</li>
            <li class="list-group-item">Sector: {{sector}}</li>
            <li class="list-group-item">Industry: {{industry}}</li>
            <li class="list-group-item">Calendar Date: {{calendardate}}</li>
        </ul>
    </div>

    <div style="display:block">

    </div>

</form>




<section class="container-large py-8">
    <div class="row">
        <div class="col-md-12">
            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item"><a href="#relval" data-target="#relval" data-toggle="tab"
                        class="nav-link small text-uppercase active">Relative Value</a></li>
                <li class="nav-item"><a href="" data-target="#profit" data-toggle="tab"
                        class="nav-link small text-uppercase">Profitability</a></li>
                <li class="nav-item"><a href="" data-target="#lev" data-toggle="tab"
                        class="nav-link small text-uppercase">Leverage</a></li>
            </ul>
            <br>
            <div id="tabsContent" class="tab-content">

                <!-- // Div Tab 1 ******************************************************************************************************************** -->
                <div id="relval" class="tab-pane fade active show">

                    <figure class="highcharts-figure">
                        <div id="boxplot1" style="width:50%;height:35%; float:left"></div>
                    </figure>

                    <figure class="highcharts-figure">
                        <div id="boxplot2" style="width:50%;height:35%; float:left"></div>
                    </figure>


                    <!-- pass pd.DataFrame variable from view and populate highcharts table -->
                    <table id="companyFundamentals" class="display" style="width:100%">
                        <thead>
                            <tr>
                                {% for key, v in company_fundamentals.items %}
                                <th>{{key}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in values %}
                            <tr>
                                {% for value in item %}
                                <td>{{value}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- table footers are optional -->

                    </table>


                </div>


                <!-- // Div Tab 2 ******************************************************************************************************************** -->
                <div id="profit" class="tab-pane fade">

                </div>

                <!-- // Div Tab 3 ******************************************************************************************************************** -->
                <div id="lev" class="tab-pane fade">

                </div>

            </div>
        </div>
    </div>
</section>

<div style="clear:both;"></div>

<div style='display:block;height:30%;width:10%'></div>
<!-- blank spacer to add new widgets below the charts populated atop of the tab -->



<style type="text/css">
    /* bootstrap hack: fix content width inside hidden tabs */
    .tab-content>.active,
    .pill-content>.active {
        display: block;
        visibility: visible;
        position: absolute;
        width: 100%;
    }
</style>

{% endblock content %}




{% block js %}

<script>

    $(document).ready(function () {




    });


    // Chart 1 ******************************************************************************************************************** 

    Highcharts.chart('boxplot1', {

        chart: {
            type: 'boxplot'
        },

        title: {
            text: 'PE | v. Sector & Industry'
        },

        legend: {
            enabled: false
        },

        xAxis: {
            categories: ['1', '2'],
            title: {
                text: 'Experiment No.'
            }
        },

        yAxis: {
            title: {
                text: 'PE'
            },
            plotLines: [{
                // value: 250,
                color: 'red',
                width: 1,
                label: {
                    // text: 'Theoretical mean: 932',
                    align: 'center',
                    style: {
                        color: 'gray'
                    }
                }
            }],
        },

        series: [

            {
                name: 'Selected Company',
                data:
                    JSON.parse("{{box_plot_values_1|escapejs}}")
                ,        // access context variable passed through view; use |escapejs instead of |safe

                tooltip: {
                    headerFormat: '<em>Experiment No {point.key}</em><br/>'
                }
            }, {
                name: 'Company',
                color: Highcharts.getOptions().colors[0],
                type: 'scatter',
                data:
                    JSON.parse("{{selected_company_values_1|escapejs}}")

                ,
                marker: {
                    fillColor: 'red',
                    lineWidth: 1,
                    lineColor: Highcharts.getOptions().colors[0]
                },
                tooltip: {
                    pointFormat: 'Observation: {point.y}'
                }
            },

        ]

    });




    // Chart 2 ******************************************************************************************************************** 

    Highcharts.chart('boxplot2', {

        chart: {
            type: 'boxplot'
        },

        title: {
            text: 'ROE | v. Sector & Industry'
        },

        legend: {
            enabled: false
        },

        xAxis: {
            categories: ['1', '2'],
            title: {
                text: 'Experiment No.'
            }
        },

        yAxis: {
            title: {
                text: 'ROE'
            },
            plotLines: [{
                // value: 250,
                color: 'red',
                width: 1,
                label: {
                    // text: 'Theoretical mean: 932',
                    align: 'center',
                    style: {
                        color: 'gray'
                    }
                }
            }],
        },

        series: [

            {
                name: 'Selected Company',
                data:
                    JSON.parse("{{box_plot_values_2|escapejs}}")
                ,        // access context variable passed through view; use |escapejs instead of |safe

                tooltip: {
                    headerFormat: '<em>Experiment No {point.key}</em><br/>'
                }
            }, {
                name: 'Company',
                color: Highcharts.getOptions().colors[0],
                type: 'scatter',
                data:
                    JSON.parse("{{selected_company_values_2|escapejs}}")


                ,
                marker: {
                    fillColor: 'red',
                    lineWidth: 1,
                    lineColor: Highcharts.getOptions().colors[0]
                },
                tooltip: {
                    pointFormat: 'Observation: {point.y}'
                }
            },

        ]

    });


    // Percentiles TABLE ****************************************************************************************

    var table = $('#companyFundamentals').DataTable({
        "ordering": true,
        "info": true,
        "order": [[0, "asc"]],
        // "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        "scrollY": "500px",
        "scrollCollapse": true,
        "paging": false,
        "stateSave": true,
        "searching": false,
        "scrollY": "650px",
        "sScrollX": "100%", // NOTE: these sScrollX and scrollCollapse were necesary to ensure column headers move with x axis scrollbar
        "scrollCollapse": true,
        // rowCallback only has the current row data with in context. custom function to save each row's data on callback iteration and reference it for comparison in the next row
        'rowCallback': function (row, data, index) {
            if (typeof previousRowData === 'undefined') {
                previousRowData = data                                    // the previousRowData variable will not exist until the end of the first iteration of the rowCallback function
            }
            else {
                for (let i = 1; i < data.length + 1; i++) {                      // iterate through each column in the row (data) array excluding the date index
                    if (data[i] > previousRowData[i]) {
                        $(row).find(`td:eq(${i})`).css('color', 'green'); // string literal uses backtick key
                    }
                    else if (data[i] < previousRowData[i]) {
                        $(row).find(`td:eq(${i})`).css('color', 'red');
                    }
                }
                previousRowData = data  // set previous rows data eq to the row that was just iterated through
            }
        },
        "columnDefs": [
            { "type": "numeric-comma", targets: 3 }
          ]   
    });


</script>
{% endblock js %}