{% extends 'base.html' %}

{% load static %}



{% block content %}
<h1 style="color:teal">Discounted Cash Flow Model</h1>




<section class="container-large py-4">
    <div class="row">
        <div class="col-md-12">
            <h3 style="color:teal">FCF to Equity</h3>
            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item"><a href="" data-target="#forecastFcf" data-toggle="tab"
                        class="nav-link small text-uppercase active">Forecast FCF</a></li>
                <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab"
                        class="nav-link small text-uppercase">FCF Growth Rate</a></li>
                <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab"
                        class="nav-link small text-uppercase">Discount Rate</a></li>
                <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab"
                        class="nav-link small text-uppercase">Terminal Value</a></li>
                <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab"
                        class="nav-link small text-uppercase">Relative Value</a></li>
            </ul>
            <br>
            <div id="tabsContent" class="tab-content">

                <!-- // Div Tab 1 ******************************************************************************************************************** -->
                <div id="forecastFcf" class="tab-pane fade active show">
                    <h3 style="color:teal">Opperating Income</h3>
                    <table id="oppinc" class="display stripe" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>metric</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2018</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <br><br>
                    <h3 style="color:teal">Adjustments</h3>
                    <table id="adj" class="display stripe" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>metric</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2018</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>



                <!-- // Div Tab 2 ******************************************************************************************************************** -->
                <div id="profile1" class="tab-pane fade">

                </div>




                <!-- // Div Tab 3 ******************************************************************************************************************** -->
                <div id="messages1" class="tab-pane fade">
                    <div class="list-group"><a href="" class="list-group-item d-inline-block"><span
                                class="float-right badge badge-pill badge-dark">44</span> Message 1</a> <a href=""
                            class="list-group-item d-inline-block"><span
                                class="float-right badge badge-pill badge-dark">8</span> Message 2</a> <a href=""
                            class="list-group-item d-inline-block"><span
                                class="float-right badge badge-pill badge-dark">23</span> Message 3</a> <a href=""
                            class="list-group-item d-inline-block text-muted">Message n..</a></div>
                </div>
            </div>
        </div>
    </div>
</section>



<style type="text/css">
    td.details-control {
        background: url('https://raw.githubusercontent.com/DataTables/DataTables/1.10.7/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://raw.githubusercontent.com/DataTables/DataTables/1.10.7/examples/resources/details_close.png') no-repeat center center;
    }

    td.metricMajor {
        background-color: #56A5EC;
        color: white;
        opacity: 0.7;
        font-weight: bold;
    }

    td.metricMinor {
        text-align: center;
    }

    td.metric {
        text-align: left;
    }
</style>

{% endblock content %}



{% block js %}

<script>

    /* Formatting function for row details - modify as you need */
    function format(d) {
        console.log(d.metric);

        var trs = '';
        $.each($(d.metric), function (key, value) {
            trs += '<tr><td>' + value + '</td><td>' + d.desc[key] + '</td></tr>';
        })
        // `d` is the original data object for the row
        return '<p>'+  d.desc  +'</p>' 
            '<table class="table table-border table-hover">' +
            '<thead>' +
            '<td>metric</td>' +
            '<th>h2</th>' +
            '</thead>body<tbody>' +
            '</tbody></table>';
    }

    $(document).ready(function () {

        // OPPERATING INCOME TABLE ****************************************************************************************
        var table_oppinc = $('#oppinc').DataTable({
            "paging": false,
            "searching": false,
            "info": false,
            "columnDefs": [
                { "width": "20%", "targets": 1 }
            ],

            "ajax": '{% static "opperating_income.json" %}',
            "columns": [
                {
                    "class": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "metric" },
                { "data": "y-4" },
                { "data": "y-3" },
                { "data": "y-2" },
                { "data": "y-1" },
                { "data": "y" },
                { "data": "y+1" },
                { "data": "y+2" },
                { "data": "y+3" },
                { "data": "y+4" }
            ],

            "createdRow": function (row, data, index) {
                console.log(data['fmt'])
                if (data['fmt'] == 'major') {
                    $('td', row).addClass('metricMajor'); // .eq(1).
                } else if (data['fmt'] == 'minor') {
                    $('td', row).eq(1).addClass('metricMinor');
                } else {
                    $('td', row).eq(1).addClass('metric');
                }
            }

        });

        // Add event listener for opening and closing details
        $('#oppinc tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table_oppinc.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });


        // ADJUSTMENTS TABLE ****************************************************************************************
        var table_adj = $('#adj').DataTable({
            "paging": false,
            "searching": false,
            "info": false,
            "columnDefs": [
                { "width": "20%", "targets": 1 }
            ],
  
            "ajax": '{% static "adjustments.json" %}',
            "columns": [
                {
                    "class": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "metric" },
                { "data": "y-4" },
                { "data": "y-3" },
                { "data": "y-2" },
                { "data": "y-1" },
                { "data": "y" },
                { "data": "y+1" },
                { "data": "y+2" },
                { "data": "y+3" },
                { "data": "y+4" }
            ],

            "createdRow": function (row, data, index) {
                console.log(data['fmt'])
                if (data['fmt'] == 'major') {
                    $('td', row).addClass('metricMajor'); // .eq(1).
                } else if (data['fmt'] == 'minor') {
                    $('td', row).eq(1).addClass('metricMinor');
                } else {
                    $('td', row).eq(1).addClass('metric');
                }
            }

        });

        // Add event listener for opening and closing details
        $('#adj tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table_adj.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });


    });


</script>
{% endblock js %}