{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Treasury Rates</h1>

<div style="clear:both;"></div>


<div id="body-content" style="padding-top:1%;">

    <div style="clear:both;"></div>

    <ul class="nav nav-tabs" id="FinancialsTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="daily-tab" data-bs-toggle="tab" data-bs-target="#daily" type="button"
                role="tab" aria-controls="daily" aria-selected="true" style='color:black;'>Daily</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="periodic-tab" data-bs-toggle="tab" data-bs-target="#periodic" type="button"
                role="tab" aria-controls="periodic" aria-selected="false" style='color:black;'>Periodic</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="corr-tab" data-bs-toggle="tab" data-bs-target="#corr" type="button" role="tab"
                aria-controls="corr" aria-selected="false" style='color:black;'>Correlation</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#other" type="button"
                role="tab" aria-controls="other" aria-selected="false" style='color:black;'>Other</button>
        </li>
    </ul>

    <div class="tab-content" id="TabContent">

        <div class="tab-pane fade show active" id="daily" role="tabpanel" aria-labelledby="daily-tab">
            <br>
            <h2>Daily Rates</h2>
            <figure class="highcharts-figure">
                <div id="recent_rates"></div>
            </figure>

            <figure class="highcharts-figure">
                <div id="recent_rates_change"></div>
            </figure>


            <div class='table-div' style = "width:100%; margin-left:auto; margin-right: auto;">
                <table id="rates_table" class="display" style="width:100%">
                </table>
            </div>

        </div>


        <div class="tab-pane fade show " id="periodic" role="tabpanel" aria-labelledby="periodic-tab">
            <br>
            <h2>Periodic Rates</h2>
            <figure class="highcharts-figure">
                <div id="change_since"></div>
            </figure>
            <h2>Points in Time</h2>
            <figure class="highcharts-figure">
                <div id="pointsInTime"></div>
            </figure>
        </div>



        <div class="tab-pane fade show" id="corr" role="tabpanel" aria-labelledby="corr-tab">
            <br>
            <figure class="highcharts-figure">
                <div id="stockBondCorr" style="width:100%;"></div>
            </figure>
            <figure class="highcharts-figure">
                <div id="stockUstCorr" style="width:100%;"></div>
            </figure>
        </div>


        <div class="tab-pane fade show" id="other" role="tabpanel" aria-labelledby="other-tab">
            <br>
            <figure class="highcharts-figure">
                <div id="tensTwos"></div>
            </figure>
        </div>

    </div>


</div>





</div>

{% endblock content %}



{% block js %}

<script>

    $(document).ready(function () {

        // document.body.style.zoom = "80%";

        // Auto resize chart absent a div or window resizing event; needed due to the body zoom settings

        recentRatesChart.reflow();

        recentRatesChange.reflow();

        pointsInTimeChart.reflow();

        changeSinceChart.reflow();

        stockBondCorrChart.reflow();

        stockUstCorrChart.reflow();

        tensTwosChart.reflow();

    });

    $(function () {
        // Sidebar toggle behavior
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('#body-content').toggleClass('active');

        });
    });

    function getPointCategoryName(point, dimension) {
        var series = point.series,
            isY = dimension === 'y',
            axis = series[isY ? 'yAxis' : 'xAxis'];
        return axis.categories[point[isY ? 'y' : 'x']];
    }

    function getMinimumValue(array_or_arrays) {
        var min = array_or_arrays[0][2]
        for (var i = 0; i < array_or_arrays.length; i++) {
            if (array_or_arrays[i][2] < min)
                min = array_or_arrays[i][2]
        }
        return min
    }

    function getMaximumValue(array_or_arrays) {
        var max = array_or_arrays[0][2]
        for (var i = 0; i < array_or_arrays.length; i++) {
            if (array_or_arrays[i][2] > max)
                max = array_or_arrays[i][2]
        }
        return max
    }


    let recent_rates_response = JSON.parse("{{recent_rates_response|escapejs}}")

    let min_recent_rates_value = getMinimumValue(recent_rates_response.data)

    const recentRatesChart = Highcharts.chart('recent_rates', {

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 80,
            plotBorderWidth: 1
        },


        title: {
            text: 'U.S. Treasury Rates'
        },

        xAxis: {
            categories: recent_rates_response.columns
        },

        yAxis: {
            categories: recent_rates_response.rows,
            title: null,
            reversed: true
        },

        accessibility: {
            point: {
                descriptionFormatter: function (point) {
                    var ix = point.index + 1,
                        xName = getPointCategoryName(point, 'x'),
                        yName = getPointCategoryName(point, 'y'),
                        val = point.value;
                    return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
                }
            }
        },

        colorAxis: {
            min: min_recent_rates_value,
            // minColor: '#B33949', //'#ffffff',
            // maxColor: '#26355E' //Highcharts.getOptions().colors[3] //'#A2C5EB'
            stops: [
                [0, '#B33949'],
                [0.125, '#F9665E'],
                [0.25, '#FEC9C9'],
                [0.375, '#ffcccb'],
                [0.5, '#ffffff'],
                [0.625, '#AFC7D0'],
                [0.75, '#95B4CC'],
                [0.875, '#799FCB'],
                [1, '#26355E']
            ]
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                return '<b>' + getPointCategoryName(this.point, 'x') + '</b> yields <br><b>' +
                    this.point.value + '</b> on <br><b>' + getPointCategoryName(this.point, 'y') + '</b>';
            }
        },

        series: [{
            name: 'Treasury Rates',
            borderWidth: 1,
            data: recent_rates_response.data,
            dataLabels: {
                enabled: true,
                color: '#000000',
                style: {
                    textOutline: false,
                },
            },

        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    yAxis: {
                        labels: {
                            formatter: function () {
                                return this.value.charAt(0);
                            }
                        }
                    }
                }
            }]
        }

    });





    let recent_rates_change_response = JSON.parse("{{recent_rates_change_response|escapejs}}")

    let min_recent_rates_change_value = getMinimumValue(recent_rates_change_response.data)
    let max_recent_rates_change_value = getMaximumValue(recent_rates_change_response.data)

    const recentRatesChange = Highcharts.chart('recent_rates_change', {

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 80,
            plotBorderWidth: 1
        },


        title: {
            text: 'Daily Rate Change'
        },

        xAxis: {
            categories: recent_rates_change_response.columns
        },

        yAxis: {
            categories: recent_rates_change_response.rows,
            title: null,
            reversed: true
        },

        accessibility: {
            point: {
                descriptionFormatter: function (point) {
                    var ix = point.index + 1,
                        xName = getPointCategoryName(point, 'x'),
                        yName = getPointCategoryName(point, 'y'),
                        val = point.value;
                    return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
                }
            }
        },

        colorAxis: {
            min: min_recent_rates_change_value,
            max: max_recent_rates_change_value,
            // minColor: '#ff6961', //Highcharts.getOptions().colors[3], //'#A2C5EB',
            // maxColor: '#647F9C' //Highcharts.getOptions().colors[0] //Highcharts.getOptions().colors[3] //'#A2C5EB'; 
            stops: [
                [0, '#B33949'],
                [0.125, '#F9665E'],
                [0.25, '#FEC9C9'],
                [0.375, '#ffcccb'],
                [0.5, '#ffffff'],
                [0.625, '#AFC7D0'],
                [0.75, '#95B4CC'],
                [0.875, '#799FCB'],
                [1, '#26355E']
            ]
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                return '<b>' + getPointCategoryName(this.point, 'x') + '</b> changed by <br><b>' +
                    this.point.value + '</b> on <br><b>' + getPointCategoryName(this.point, 'y') + ' bps</b>';
            }
        },

        series: [{
            name: 'Treasury Rates',
            borderWidth: 1,
            borderColor: 'black',
            data: recent_rates_change_response.data,
            dataLabels: {
                enabled: true,
                color: '#000000',
                style: {
                    textOutline: false,
                },
            },
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    yAxis: {
                        labels: {
                            formatter: function () {
                                return this.value.charAt(0);
                            }
                        }
                    }
                }
            }]
        }

    });


    let points_in_time_response = JSON.parse("{{points_in_time_response|escapejs}}")
    let pit_date_start = new Date(points_in_time_response.rows[0]).getFullYear();
    console.log(pit_date_start)

    const pointsInTimeChart = Highcharts.chart('pointsInTime', {

        title: {
            text: 'Points in Time'
        },

        subtitle: {
            text: ''
        },

        yAxis: {
            title: {
                text: 'Yield (%)'
            },
            plotLines: [{
                value: 0,
                width: 4,
                color: '#aaa',
                zIndex: 10
            }],
        },

        xAxis: {
            categories: points_in_time_response.rows
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                // pointStart: date_start
            }
        },

        series: points_in_time_response.data,

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });




    let change_since_response = JSON.parse("{{change_since_response|escapejs}}")

    let min_change_since_value = getMinimumValue(change_since_response.data)
    let max_change_since_value = getMaximumValue(change_since_response.data)

    const changeSinceChart = Highcharts.chart('change_since', {

        chart: {
            type: 'column'
        },

        title: {
            text: 'Change over Time'
        },

        xAxis: {
            categories: change_since_response.rows
        },

        yAxis: {
            allowDecimals: false,
            min: min_change_since_value,
            max: max_change_since_value,
            title: {
                text: 'Change'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>'
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series: change_since_response.data
    });


    let rates_table_response = JSON.parse("{{rates_table_response|escapejs}}");
    var table = $('#rates_table').DataTable({
        data: rates_table_response.data,
        columns: rates_table_response.columns,
        order: [[0, "asc"]],
        paging: false,
        stateSave: true,
        searching: false,        
        pageLength: 20,
        columnDefs: [
            {
                "orderable": false,
                "render": $.fn.dataTable.render.number(',', '.', 2, '', ''),
                "targets": [1, 2, 3, 4, 5],
            }
        ],
        // rowCallback only has the current row data with in context. custom function to save each row's data on callback iteration and reference it for comparison in the next row
        rowCallback: function (row, data, index) {
            if (typeof previousRowData === 'undefined') {
                previousRowData = data                                    // the previousRowData variable will not exist until the end of the first iteration of the rowCallback function
            }
            else {
                for (let i = 1; i < data.length + 1; i++) {                      // iterate through each column in the row (data) array excluding the date index
                    if (data[i] > previousRowData[i]) {
                        $(row).find(`td:eq(${i})`).css('color', 'green'); // string literal uses backtick key
                    }
                    else if (data[i] < previousRowData[i]) {
                        $(row).find(`td:eq(${i})`).css('color', 'red');
                    }
                }
                previousRowData = data  // set previous rows data eq to the row that was just iterated through
            }
        }
    });




    let stock_bond_corr_response = JSON.parse("{{stock_bond_corr_response|escapejs}}")

    const stockBondCorrChart = Highcharts.chart('stockBondCorr', {

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 80,
            plotBorderWidth: 1
        },


        title: {
            text: 'Correlation of SPY to Bond ETF\'s'
        },

        xAxis: {
            categories: stock_bond_corr_response.columns
        },

        yAxis: {
            categories: stock_bond_corr_response.rows,
            title: null,
            reversed: true
        },

        accessibility: {
            point: {
                descriptionFormatter: function (point) {
                    var ix = point.index + 1,
                        xName = getPointCategoryName(point, 'x'),
                        yName = getPointCategoryName(point, 'y'),
                        val = point.value;
                    return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
                }
            }
        },

        colorAxis: {
            min: -1,
            max: 1,
            // minColor: '#ff6961', //Highcharts.getOptions().colors[3], //'#A2C5EB',
            // maxColor: '#647F9C' //Highcharts.getOptions().colors[0] //Highcharts.getOptions().colors[3] //'#A2C5EB'; 
            stops: [
                [0, '#B33949'],
                [0.125, '#F9665E'],
                [0.25, '#FEC9C9'],
                [0.375, '#ffcccb'],
                [0.5, '#ffffff'],
                [0.625, '#AFC7D0'],
                [0.75, '#95B4CC'],
                [0.875, '#799FCB'],
                [1, '#26355E']
            ]
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                return '<b>' + getPointCategoryName(this.point, 'x') + '</b> changed by <br><b>' +
                    this.point.value + '</b> on <br><b>' + getPointCategoryName(this.point, 'y') + ' bps</b>';
            }
        },

        series: [{
            name: 'Treasury Rates',
            borderWidth: 1,
            borderColor: 'black',
            data: stock_bond_corr_response.data,
            dataLabels: {
                enabled: true,
                color: '#000000',
                shadow: false,
                style: {
                    textOutline: false,
                },

            },
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    yAxis: {
                        labels: {
                            formatter: function () {
                                return this.value.charAt(0);
                            }
                        }
                    }
                }
            }]
        }

    });





    let stock_ust_corr_response = JSON.parse("{{stock_ust_corr_response|escapejs}}")

    const stockUstCorrChart = Highcharts.chart('stockUstCorr', {

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 80,
            plotBorderWidth: 1
        },


        title: {
            text: 'Correlation of SPY to US Treasuries'
        },

        xAxis: {
            categories: stock_ust_corr_response.columns
        },

        yAxis: {
            categories: stock_ust_corr_response.rows,
            title: null,
            reversed: true
        },

        accessibility: {
            point: {
                descriptionFormatter: function (point) {
                    var ix = point.index + 1,
                        xName = getPointCategoryName(point, 'x'),
                        yName = getPointCategoryName(point, 'y'),
                        val = point.value;
                    return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
                }
            }
        },

        colorAxis: {
            min: -1,
            max: 1,
            // minColor: '#ff6961', //Highcharts.getOptions().colors[3], //'#A2C5EB',
            // maxColor: '#647F9C' //Highcharts.getOptions().colors[0] //Highcharts.getOptions().colors[3] //'#A2C5EB'; 
            stops: [
                [0, '#B33949'],
                [0.125, '#F9665E'],
                [0.25, '#FEC9C9'],
                [0.375, '#ffcccb'],
                [0.5, '#ffffff'],
                [0.625, '#AFC7D0'],
                [0.75, '#95B4CC'],
                [0.875, '#799FCB'],
                [1, '#26355E']
            ]
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                return '<b>' + getPointCategoryName(this.point, 'x') + '</b> changed by <br><b>' +
                    this.point.value + '</b> on <br><b>' + getPointCategoryName(this.point, 'y') + ' bps</b>';
            }
        },

        series: [{
            name: 'Treasury Rates',
            borderWidth: 1,
            borderColor: 'black',
            data: stock_ust_corr_response.data,
            dataLabels: {
                enabled: true,
                color: '#000000',
                shadow: false,
                style: {
                    textOutline: false,
                },

            },
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    yAxis: {
                        labels: {
                            formatter: function () {
                                return this.value.charAt(0);
                            }
                        }
                    }
                }
            }]
        }

    });



    let tens_twos_response = JSON.parse("{{tens_twos_response|escapejs}}")
    let date_start = new Date(tens_twos_response.rows[0]).getFullYear();
    console.log(date_start)

    const tensTwosChart = Highcharts.chart('tensTwos', {

        title: {
            text: 'Tens Twos Spread'
        },

        subtitle: {
            text: ''
        },

        yAxis: {
            title: {
                text: 'Yield (%)'
            },
            plotLines: [{
                value: 0,
                width: 4,
                color: '#aaa',
                zIndex: 10
            }],
        },

        xAxis: {
            categories: tens_twos_response.rows
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                // pointStart: date_start
            }
        },

        series: tens_twos_response.data,

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });

    // Get 'active' tab selection ID
    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
        var currId = $(e.target).attr("id");
        console.log(currId)

        recentRatesChart.reflow();

        recentRatesChange.reflow();

        pointsInTimeChart.reflow();

        changeSinceChart.reflow();

        stockBondCorrChart.reflow();

        stockUstCorrChart.reflow();

        tensTwosChart.reflow();
    })


    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            $($.fn.dataTable.tables(true)).css('width', '100%');
            $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();

        });
    });

</script>
{% endblock js %}